@charset "UTF-8";

h1 {
	display: none;
}

.C_P{
	border-top: lightgray thin solid !important;
	border-bottom: lightgray thin solid !important;
    margin-bottom: 0.5em !important;
    padding: 0.5em !important;
}